*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background: rgb(124, 122, 122);
}

.modal{
    width: 450px;
    height: 160px;
    background: white;
    font-family: Arial;
    border-radius: 7px;  
    margin-top: 18%;  
}

.modal-content{
    line-height: 42px;
    margin-left: 3%;
    margin-top: 5%;
    z-index: 0;
}

.close {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    float: right;
    cursor: pointer;
}

.close:before {
    content: '+';
    color: rgb(1, 1, 208);
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 5.6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(1, 1, 208);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}

.close:hover:after {
    transform: scale(0.8);
}

.close:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

.modal-h1{
    color: rgb(1, 1, 208);
    font-size: 18px;
}

.text{
    font-size: 15px;
}

.ok{
    width: 160px;
    height: 33px;
    background: rgb(1, 1, 208);
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    top: 0;
    cursor: pointer;
}
